.show-todos {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .show-todos {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 10px;
    }
}
