.ButtonForm {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #002363;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #002363 inset;
    font-weight: 900;
    color: #002363;
    transition:
        box-shadow 0.2s ease,
        border 0.2s ease,
        color 0.2s ease;


    &:hover {
        box-shadow: 0px 0px 4px 1px #eb0000 inset;
        border: 2px solid #eb0000;
        color: #eb0000;
    }

}